<h1> Login to Gabble! </h1>

  <div class="login_page">


      <form class="" action="login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
      <button type="Submit" name="login">Login</button>
      </form>

  </div>
